.navbar{
    color: white;
    background-color: #111;
    position: relative;
}

/* glitch text effect start*/

.glitch{
    position: relative;
    letter-spacing: 4px;
    user-select: none;
    cursor: pointer;
    /* top: 10px; */
    z-index: 1;
}

.glitch::before, .glitch::after{
    content: "Bhushan's Portfolio";
    position: absolute;
    /* display: block; */
    top: 0;
    left: 0;
}

.glitch:hover::before{
    animation: glitch 0.3s linear 2;
    color: #e91e63;
    z-index: -1;
}

.glitch:hover::after{
    animation: glitch 0.3s linear 1 reverse;
    color: #9196f3;
    z-index: -2;
}

@keyframes glitch {
    0%{
        top: 0;
        left: 0;
    }
    20%{
        top: -3px;
        left: -3px;
    }
    40%{
        top: 3px;
        left: 3px;
    }
    60%{
        top: -3px;
        left: 3px;
    }
    80%{
        top: 3px;
        left: -3px;
    }
    100%{
        top: 0;
        left: 0;
    }
}


/* glitch text effect end*/


/* nav links start */

.nav-links{
    border: 2px solid transparent;
    transition: all 0.2s linear;
    padding: 5px 10px;
}
.nav-links:hover{
    border: 2px solid gray;
    /* border-top: 2px solid gray; */
    /* border-left: 2px solid gray; */
    box-shadow: 3px 3px 0px 1px gray;
}

/* nav links end */