.project-card{
  box-shadow: 10px 10px 0px 0px gray;
  background: white;
  border: 2px solid black;
  height: 100%;
}

/* .card-img-container{
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.card-img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: all 0.2s linear;
} */

.card-img-container {
  overflow: hidden;
  aspect-ratio: 16 / 9;
  width: 100%;
}

.card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}


.project-card:hover img{
  transform: scale(1.1);
}

.project-tag{
  /* background-color: rgb(87, 222, 252); */
  border: 1px solid black;
  color: black;
  /* border-radius: 8px; */
  padding: 4px 20px;
}

.project-inner-info{
  height: 100%;
  border: 1px solid black;
}