@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body{
    font-family: "JetBrains Mono", monospace;
}

#particles{
    z-index: -999;
    height: 100%;
    width: 100%;
    position: relative;
}
