@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

body{
    font-family: "JetBrains Mono", monospace;
}

/* decorations */

#particles{
    z-index: -999;
    height: 100%;
    width: 100%;
    position: relative;
}

.custom-btn{
    background-color: white;
    color: black;
    font-weight: 500;
    padding: 10px 20px;
    box-shadow: 5px 5px 0px 0px gray;
    transition: all 0.1s linear;
    cursor: pointer;
}

.custom-btn:hover{
    box-shadow: none;
    transform: translate(5px, 5px);
}

.custom-btn:active{
    box-shadow: inset 0px 0px 3px 5px gray;
}

.gray-box-shadow{
    box-shadow: 10px 10px 0 0 gray;
}

.top-deco::after{
  content: '';
  position: absolute;
  height: 1%;
  width: 100%;
  top: 0;
  right: 0;
  transition: all 0.3s linear;
  background: linear-gradient(90deg, blue, #FF6B6B, #4ECDC4);
}
.bot-deco::before{
  content: '';
  position: absolute;
  height: 1%;
  width: 100%;
  bottom: 0;
  right: 0;
  transition: all 0.3s linear;
  background: linear-gradient(90deg, #4ECDC4, #FF6B6B, blue);
}