/* .computerImage-container{ */
    /* background-color: black; */
    /* max-height: 600px; */
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 10px 10px rgb(185, 185, 236); */
/* } */

/* .computerImage-container img{ */
  /* max-width: 100%; */
  /* width: 100%; */
  /* height: 100%; */
  /* object-fit: cover; */
  /* object-position: 80% 100%; */
/* } */